/debug/
/Normal/
/Profile/
/GCov/
/debGCov/
/gmon.out
/err.epd
/err1.epd
/matein4.epd
/test_hash_zal.epd
/test_wac_zal.epd
/search.c.bak
/STS1.epd
/tests.h.bak
/tests.c.bak
/ui.c.bak
/STS10.epd
/STS11.epd
/STS12.epd
/STS13.epd
/STS14.epd
/STS2.epd
/STS3.epd
/STS4.epd
/STS5.epd
/STS6.epd
/STS7.epd
/STS8.epd
/STS9.epd
/bitmap.h.bak
/evaluate.c.bak
/todo.txt.bak
/movgen.c.bak
/macros.h.bak
/sigm.xlsx
/king_shelter.pgn
/pers_test.xml
/pers.xml.bak
/eval.txt.bak
/evaluate.h.bak
